.myPhoto{
    margin: 50px;
}

.frontTitle{
    box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.2);
    padding: 20px;
    font-weight: 600;
    font-size: x-large;
}

.photoCollection{
    margin-top: 3%;
}

.photoCollection img{
    width: 80%;
    float: left;
    padding: 1%;
    height: 35vh;
}

img[src='']{
    opacity:0;
}

.photoCollection .title{
    position: relative;
    padding-top: 3%;
    left: 3.5%;
    font-size: 150%;
    font-weight: 600;
}

.photoCollection .description{
    display: inline-block;
    position: relative;
    left: 3.5%;
    padding-top: 1%;
    width: 60%;
    line-height: 300%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.photoCollection .operation button{
    position: relative;
    left: 3.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2%;
    border-style: none;
    border-radius: 5px;
    width: 8%;
    height: 35px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
}

.operation .modify{
    color: darkslateblue;
    text-shadow: 1px 2px 1px silver;
}

.operation .delete{
    color: red;
    text-shadow: 1px 2px 1px silver;
}

.M-box{
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.hint{
    margin-top: 100px;
    margin-left: 50px;
    font-weight: 600;
    font-size: large;
    color: silver;
}

