img{
    width: 75%;
    vertical-align:top;
}

body{
    background-color: #0a2140;
}

.whole{
    margin-top: 4.5%;
    width: 100%;
    background-color: #153554;
    height: 100%;
}

.register{
    background-color: #eeeeee;
    float: right;
    margin-top: 5.5%;
    margin-right: 2.25%;
    width: 20%;
    border-radius: 2px;
}

.registerTitle{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    color: black;
    padding: 5.5%;
    font-size: 150%;
    font-weight: 600;
    font-family: "Lucida Fax";
}

.requiredTitle{
    margin-top: 6%;
    margin-left: 5.5%;
    color: silver;
    padding: 2.5%;
    font-weight: 500;
    font-family: Consolas;
}

input{
    border-bottom-color: silver;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: 7.5%;
    width: 80%;
}

button{
    margin-top: 9.5%;
    background-color: #153554;
    border-style: none;
    height: 40px;
    width: 80%;
    margin-left: 7.5%;
}

button a{
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Ink Free";
    text-decoration: none;
    color: white;
    display: block;
}

.reminder{
    font-size: small;
    margin-top: 6%;
    width: 100%;
    color: silver;
    text-align: center;
    font-family: "Lucida Fax";
    margin-bottom: 7.5%;
}

.footer{
    text-align: center;
    color: silver;
    font-weight: 500;
    font-size: small;
    padding: 1.8%;
}
